<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gok.mapper.ConsumeMapper">
    <select id="list" resultType="cn.gok.entity.Consume">
        select * from consume where 1=1
        <if test="searchKey!=null and searchKey!='' and vip !=null and vip !=''">
            and status =  CONCAT(CONCAT('%', #{searchKey}), '%')
            and vip = CONCAT(CONCAT('%', #{vip}), '%')
        </if>
    </select>

    <select id="listCommodity" resultType="cn.gok.entity.Consume">
        SELECT c.*,d.sketch,d.image FROM consume c, commodity d WHERE c.name = d.cname AND c.name = #{name}
    </select>


    <!--会员查询    -->
    <select id="listVip" resultType="cn.gok.entity.Consume">
       SELECT c.*,a.sketch FROM consume c,commodity a WHERE c.name = a.cname and c.vip= #{vip}
    </select>
    <!--   新增 -->
    <insert id="save">
        insert into consume (name,price,number,status,vip,vname,remark,mention)
        <if test="name!=null">
            values (#{name},#{price},#{number},'1',#{vip},(select `name` from vip where id=#{vip}),#{remark},#{mention})
        </if>
    </insert>


    <!--  删除  -->
    <update id="delete">
       update consume set
        <if test="id!=null">
            status = 0
            where id = #{id}
        </if>
    </update>

    <!--    导入导出-->
    <select id="getconsumes" resultType="cn.gok.entity.Consume">
        select * from consume
    </select>

</mapper>
