<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gok.mapper.FriendMapper">
    <!--    查-->
    <select id="list" resultType="cn.gok.entity.Friend">
        select * from friend where 1=1
            and vid like CONCAT(CONCAT('%', #{searchKey}), '%')
        order by createTime desc
    </select>

    <!--    增-->
    <insert id="save">
        insert into friend(vid,value,status)
        values (#{vid},#{value},'1')
    </insert>

    <!--    查-->
    <select id="listVid" resultType="cn.gok.entity.Friend">
        select * from friend where vid =#{vid} and status = 1
    </select>

<!--    更新标识符-->

    <update id="updateStatus">
        update friend set status =0 where id = #{id}
    </update>

    <!--  编辑图片  -->
    <update id="updateImage">
        update friend set image=CONCAT(image,","#{image}) where id = #{id}
    </update>

<!--    分割图片-->
    <select id="listImage" resultType="cn.gok.entity.Friend">
        select image from friend
    </select>


</mapper>