<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gok.mapper.OrderMapper">
<!--    查-->
<select id="list" resultType="cn.gok.entity.Order">
select * from `order` where 1=1
   <if test="searchKey !=null and searchKey !=''">
     and orderNumber like CONCAT(CONCAT('%', #{searchKey}), '%')
       or realTime like CONCAT(CONCAT('%', #{searchKey}), '%')
       or vip like CONCAT(CONCAT('%', #{searchKey}), '%')
       or status like CONCAT(CONCAT('%', #{searchKey}), '%')
   </if>
</select>

<!--    改-->
    <update id="update">
update `order` set
            realTime=#{realTime},
            where
            id=#{id}
    </update>
<!--    删-->
    <delete id="delete">
delete from `order` where id=#{id}
    </delete>
<!--    详情-->
    <select id="detail" resultType="cn.gok.entity.Order">
select * from `order` where id=#{id}
    </select>
    <select id="getorders" resultType="cn.gok.entity.Order">
select * from `order`
    </select>
    <insert id="insert">
        insert into `order`  (orderNumber,realTime,vip,status)
        values (#{orderNumber},#{realTime},#{vip},'0')
    </insert>




</mapper>